<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICRUD" />
                <binding name="BasicHttpBinding_ILogin" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51062/CRUD.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICRUD" contract="CRUDService.ICRUD"
                name="BasicHttpBinding_ICRUD" />
            <endpoint address="http://localhost:51062/Login.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILogin" contract="LoginService.ILogin"
                name="BasicHttpBinding_ILogin" />
        </client>
    </system.serviceModel>
</configuration>